<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/assets/mainstyles.css">
    <title>Cookie Shop</title>
  </head>
  <body>
    <section>
      <nav>
        <h1>Cookie Shop</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cookies">Shop</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>

      <header>
        <div class="row">
          <div>
            <h2>Check out our New Cookie Flavors!</h2>
            <p class="subheader">
              Made with the best Organic Ingredients and Grandma's love ...
            </p>
            <a href="/cookies">
            <input type="submit" value="Shop Now" class="button" />
             </a>
          </div>
          <figure>
            <img src="https://images.pexels.com/photos/230325/pexels-photo-230325.jpeg" alt="Cookie image"/>
          </figure>
        </div>
      </header>
    </section>
  </body>
</html>
