form {
    margin-left: 10px;
}

h1 {
    margin-left: 10px;
}

body {
    background-color: #ADD8E6;
}

table {
    margin-left: 10px;
}

.large {
    font-size: 20px;
}

a {
    margin-left: 10px;
}