<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/indexstyles.css">
    <title>Cookie Shop</title>
</head>
<body>
    <section>
        <nav>
      
          <h1>Cookie Shop</h1>
        
          <ul>
            <li><a href="/">Home</a></li>
          <li><a href="/cookies">Shop</a></li>
          <li><a href="/contact">Contact Us</a></li>
          </ul>
        </nav>
        <header>

            <div class="container">
                <ul>

                    <% cookies.forEach(cookies => { %>
                    <li class="resize">
                        <a href="/cookies/<%= cookies._id %> ">
                         </a>

                         <a href="/cookies/<%= cookies._id %> ">
                    <img src="<%= cookies.img %>" alt="n/a" class="image">
                </a>
                         <h2 class="styles"><%= cookies.name %> </h2>
                    </li>
                    
                   <% }) %> 


                </ul>

            </div>
            
</body>
</html>